version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "numpy"
      - dependency-name: "torch"
      - dependency-name: "stable-baselines3"
      - dependency-name: "gymnasium"
